.form-container {
    display: grid;
    place-items: center;
    max-width: 400px;
    height: 370px;
    margin: auto;
    background-color: rgba(150, 141, 158, 0.832);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 70px; /* Ajusta según sea necesario */
}

.custom-label {
    display: block;
    padding: 10px;
    font-weight: bold;
}

.custom-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 25px;
}

.custom-button {
    margin-top: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.custom-button:hover {
    background-color: #45a049;
}

.login-icon{
    margin: 10px;
}