.miThead{
    background-color: #075791 !important;    
    color: white !important;
}

/* .miTabla{
    height: 700px; 
    
} */

.tablaContainer{
    max-height: 745px; 
    overflow-y: auto; 
}

.miBoton{
    margin-right: 5px;
}

input {
    height: 30px;
    width: 30px;
}

h3 {
    color: darkgrey;
}