/* Footer.css */
.footer-container {
  position: sticky;
  top: 100%;
  background-color: rgb(211, 181, 15);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem; 
}

.social-icons svg {
  width: 3vh;
  height: 3vh; 
  margin-right: 10px;
  margin-top: 30%;
}

.copy-text {
 font-size: larger;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin-top: 1vh;
}