.footer-container {
    background-color: #eee272;
    border-top: 1px solid #eee272;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh; 
  }
  
  .social-icons {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  .social-icons a {
    color: #333;
    text-decoration: none;
  }
