/*--------------------PAGINA CONVOCATORIAS---------------------------- */

.convocar-btn {
	background-color: #1b71db;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin-left: 10%;
	padding: 5px 15px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.convocar-btn:hover {
	background-color: #0147c9;
}


#caja-convocatoria {
	background-color: #c9c3c3;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(136, 77, 255, 0.5);
	margin: 20px auto;
	max-width: 400px;
	transition: transform 0.5s ease-out;
}

#caja-convocatoria:hover {
	transform: scale(1.05);
}


#convocatorias-table td {
	text-align: center;
	border-bottom: 1px solid rgb(0, 0, 0);
	border-left: 1px solid rgba(108, 108, 108, 0.38);
}

/* Estilo para las fila agregadas */

.container-filtro-fechas {
	background-color: #c9c3c3;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(136, 77, 255, 0.5);
	margin: 20px auto;
	max-width: 400px;
}

/* CONVOCAR */

#titulo {
	color: white;
	display: inline;
	margin: 20px 20px;
}

#convocar {
	max-width: 120px;
	margin-bottom: 10px;
}

/* Convocatorias.css */

.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  #caja-convocatoria {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(150, 141, 158, 0.832);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-input {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="date"],
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .form-boton {
    margin-top: 20px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Estilos adicionales para el formulario de filtrado */
  
  .container-filtro-fechas {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(150, 141, 158, 0.832);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #filtro-convocatorias label {
    display: inline-block;
    margin-right: 10px;
  }
  
  #filtro-convocatorias button {
    margin-top: 10px;
  }
  
  /* Estilos para el encabezado de la tabla */
.miThead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-weight: 600;
    background: linear-gradient(to left, #690069, #8b008b, #690069) !important;
    color: rgb(255, 255, 255) !important;
    border-color: #690069;
    border-top: solid #690069 1px !important;
    border-bottom: solid #690069 1px !important;
    z-index: 1; /* Para que esté por encima del contenido de la tabla */
}

.miTabla{
    max-height: 600px; 
    overflow-y: auto; 
    
}

.miBoton{
    margin-right: 5px;
    margin-bottom: 8px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    
    
}

