.dashboardTitle {
   
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(to right, #52005200, #520052ee, #8b008bb7, #520052e7, #52005200);
    color: white;
    text-align: center;
}

.dashboardH2 {
    margin: 3% 0;
    padding: 10px;
    background: linear-gradient(to right, #52005212, #8b008b65, #52005235);
    color: rgba(222, 222, 222, 0.956);
    border-radius: 5px;
}

.row.align-items-center {
    animation: fadeIn 1s ease-in-out forwards;
  
}

.col-md-6.text-center {
    animation: fadeIn 1s ease-in-out forwards;
 
}


.jugador-pelota-img {
    justify-content: center;
    margin-left: -200%;
    opacity: 0; /* Comienza con una opacidad de 0 para la animación de entrada */
    animation: fadeIn 1s ease-in-out forwards; /* forwards mantiene los estilos finales de la animación */
}

.jugador-pelota-img2{
    justify-content: center;
    opacity: 0; /* Comienza con una opacidad de 0 para la animación de entrada */
    animation: fadeIn 1s; /* forwards mantiene los estilos finales de la animación */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px); /* Otra animación posible: desplazamiento hacia arriba */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}




